@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Staatliches&display=swap");

.masonry:focus {
  outline: none;
}
.container {
  max-width: 1280px;
  margin: auto;
}
h1 {
  font-family: "Staatliches", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}
button:disabled {
  opacity: 0.4;
}
.btn-focus-none:focus {
  border: none;
  outline: none;
}
.dropdown-btn:hover {
  background-color: rgb(221, 221, 221) !important;
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3178c6;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(35 97 165);
}
.app-btn {
  transition: 0.4s ease-in-out;
}
.app-btn:hover {
  background: rgb(35 97 165) !important;
}
.nav-link:hover {
  background-color: rgb(194, 194, 194);
}
.addnote-input.search:focus {
  width: 50% !important;
}
.addnote-input::placeholder,
textarea::placeholder {
  color: rgb(66, 66, 66);
  font-family: "Roboto", "Arial";
}
textarea {
  font-family: "Roboto", "Arial";
}
