@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Staatliches&display=swap");

.masonry:focus {
  outline: none;
}
.container {
  max-width: 1280px;
  margin: auto;
}
h1 {
  font-family: "Staatliches", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
button:focus {
  outline: none;
}
button:disabled {
  opacity: 0.4;
}
.btn-focus-none:focus {
  border: none;
  outline: none;
}
.dropdown-btn:hover {
  background-color: rgb(221, 221, 221) !important;
}
.app-btn {
  transition: 0.4s ease-in-out;
}
.app-btn:hover {
  background: rgb(35 97 165) !important;
}
.nav-link:hover {
  background-color: #c2c2c2;
}
.addnote-input.search:focus {
  width: 50% !important;
}
.addnote-input::placeholder,
textarea::placeholder,
.addnote-mobile-input.search::placeholder {
  color: rgb(66, 66, 66);
  font-family: "Roboto", "Arial";
}
textarea {
  font-family: "Roboto", "Arial";
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 0px) {
  .ques-h1 {
    font-size: 31px;
    max-width: 270px;
    margin: 0 auto;
  }
  .video-screen {
    position: relative;
    display: flex;
    flex-flow: column;
    /* justify-content: space-between; */
    background-color: "red";
    height: 100vh;
  }
  .video {
    width: 100%;
    height: 56vw;
  }
  .dropdown-and-modal {
    position: relative;
    flex: 1;
    width: 86%;
    margin: 0 10px;
    /* height: 50vh; */
  }
  nav {
    background-color: #fff;
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: 100%;
  }

  .menu {
    display: flex;
    flex-flow: row;
    box-shadow: 1px 0px 5px -1px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 1px 0px 5px -1px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 1px 0px 5px -1px rgba(0, 0, 0, 0.41);
  }
  .menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    padding: 12px 20px;
  }
  .menu img {
    margin: 0;
  }
  .menu span {
    display: none;
  }
  main {
    width: 100%;
  }
  .home-wrapper,
  .all-notes-wrapper {
    margin: 0;
  }

  .revisions-complete p {
    font-size: 21px;
    padding: 0 14px;
  }
  .no-notes {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    align-items: center;
  }
  .no-notes img,
  .revisions-complete img {
    width: 50%;
  }

  .settings {
    box-sizing: border-box;
    padding: 3px 0px 100px 0px;
    width: 100%;
    max-width: 422px;
  }
  .info-page {
    padding: 3px 8px;
    padding-bottom: 100px;
  }

  .logo-and-version img {
    width: 34px;
  }
  .logo-and-version span {
    font-size: 22px;
  }
}
@media only screen and (min-width: 360px) {
  /* margin: 0 auto; */
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .ques-h1 {
    font-size: 43px;
    max-width: 400px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .ques-h1 {
    margin: 0 20px;
    max-width: 100%;
  }
  .video-screen {
    flex-flow: row;
  }
  .video {
    width: 59%;
    height: 34vw;
  }
  .dropdown-and-modal {
    position: relative;
    margin: 0 10;
  }
  nav {
    width: 20%;
    height: 100vh;
    background: #e5e5e3;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    flex-flow: column;
    justify-content: space-between;
  }

  .menu {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    flex-flow: column;
  }
  .menu a {
    padding: 12px 20px;
    justify-content: flex-start;
  }
  .menu img {
    margin: 0;
    margin-right: 10px;
  }
  .menu span {
    display: block;
  }

  main {
    width: 80%;
  }

  .addnote-wrapper {
    padding: 0 7vw;
  }

  .home-wrapper {
    margin: 10px;
  }
  .all-notes-wrapper {
    margin: 0px 10px 10px 10px;
  }

  .revisions-complete p {
    font-size: 26px;
  }
  .no-notes img,
  .revisions-complete img {
    width: 20%;
  }

  .settings {
    padding: 10px 20px;
    /* width: 50%; */
  }
  .info-page {
    padding: 10px 20px;
  }

  .logo-and-version img {
    width: 4vw;
  }
  .logo-and-version span {
    font-size: 2vw;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .video {
    width: 65%;
    height: 36vw;
  }
  ::-webkit-scrollbar {
    width: 15px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3178c6;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(35 97 165);
  }

  div.scroll::-webkit-scrollbar {
    width: 5px !important;
  }

  /* Track */
  div.scroll::-webkit-scrollbar-track {
  }

  /* Handle */
  div.scroll::-webkit-scrollbar-thumb {
    background: #3178c6;
    border-radius: 5px;
  }

  /* Handle on hover */
  div.scroll::-webkit-scrollbar-thumb:hover {
    background: rgb(35 97 165);
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .video {
    width: 70%;
    height: 504px;
  }
  .logo-and-version img {
    width: 56px;
  }
  .logo-and-version span {
    font-size: 28px;
  }
  .addnote-wrapper {
    padding: 0 100px;
  }
}
